{% extends 'blog/layouts/main.html' %}

{% block title %}
    | Posts
{% endblock %}


{% block content %}
    <h1 class="mb-3">Posts:</h1>
        {% for post in posts %}
            <div class="card mb-2">
              <div class="card-header">
                {{ post.created_at }}
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatewords:3 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read</a>
              </div>
            </div>
        {% endfor %}


{% endblock %}
